name: AIdocs

on:
  # pull_request:
  #   branches:
  #     - main
  push:
    branches:
      - main
  merge_group:
    branches: [ main ]

jobs:
  blds:
    runs-on: ubuntu-latest
    concurrency:
      group: "aidocs"
      cancel-in-progress: true
    steps:
        - name: Check out code
          uses: actions/checkout@v4
          with: 
            persist-credentials: false
            fetch-depth: 0 # Fetch recent commits history, used to find changed files

        - name: Set up Python 3.12
          uses: actions/setup-python@v5.5.0
          with:
            python-version: '3.12'
            cache: 'pip' # caching pip dependencies

        - name: Install dependencies
          run: |
            pip install handsdown nbconvert openai GitPython

        - name: Markdown Files for vector store on OpenAI
          run: python docs/.assets/vector_file_generator.py
        
        - name: Refresh Changed Files on OpenAI
          run: python docs/.assets/vector_store_upload.py
          env:
            OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
            VECTOR_STORE_ID: ${{ secrets.VECTOR_STORE_ID }}