name: book

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    paths:
    - docs/**

jobs:
  booking:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4.7.1
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install ".[dev]"
        pip install jupyter-book ghp-import

    - name: Build the book
      run: |
        jupyter-book build docs

    - if: ${{ github.event_name == 'push' }}
      name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.9.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
