name: Linting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        linter: ["ruff", "mypy"]

    steps:
    - uses: actions/checkout@v6
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python 3.12
      uses: actions/setup-python@v6.2.0
      with:
        python-version: "3.12"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install -e ".[dev]"
        python -m pip install ${{ matrix.linter }}

    - name: Lint with ruff
      if: ${{ matrix.linter == 'ruff' }}
      run: |
        ruff check particula/
        ruff format particula/ --check

    - name: Type check with mypy
      if: ${{ matrix.linter == 'mypy' }}
      run: |
        mypy particula/ --ignore-missing-imports
