name: Build and Deploy Documentation

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Check out code
          uses: actions/checkout@v4
          with: 
            persist-credentials: false

        - name: Set up Python 3.11
          uses: actions/setup-python@v5.1.0
          with:
            python-version: '3.11'

        - name: Install dependencies
          run: |
            pip install jupyter-book ghp-import
            pip install mkdocs mkdocs-material handsdown mkdocs-jupyter

        - name: Generate Source Code Documentation with Handsdown
          run: python mk_generator.py

        - name: Build MkDocs site and Run Jupyter Books
          run: mkdocs build

        - name: Deploy to GitHub Pages (on push)
          if: github.event_name == 'push'
          uses: JamesIves/github-pages-deploy-action@v4
          with:
            branch: gh-pages
            folder: site  # Assuming mkdocs build output is the default 'site' directory

        - name: Preview Documentation (on PR)
          if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
          uses: rossjrw/pr-preview-action@v1
          with:
            source-dir: site  # Assuming mkdocs build output is the default 'site' directory
